:root{
    --blue:#111c42;
    --grey:#676970;
    --darkBlue:#171830;
}

body{
    margin: 0;
}

.mainContainer{
    height: 100vh;
    background-image: linear-gradient(var(--blue) , var(--grey), var(--darkBlue));
}

.Flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.center-center{
    justify-content: center;
    align-content: center;
}

.Flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.width80{
    width: 80%;
}

.width70{
    width: 80%;
    margin-top: 35px;
}

.innerContent{
    height: 100%;
}

.card{
    background-color: blue;
    height: 95%;
    background-image: url(./images/background.jpg);
    border-radius: 25%;
    width: 60%;
    color: white;
}

.cloudy{
    height: 100%;
}

.details span{
    font-size: xx-large;
    size: 50%;
}

.big{
    justify-content: space-between;
    height: 35%;
}
.deg{
    height: 110%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deg span{
    height: 100%;
    width: 90%;
    font-size: 220px;
}

h1{
    margin: 0;
}

.location span{
    font-size: 30px !important;
    font-weight: bold;
}

.location{
    height: 60%;
    width: 100%;
}